{{#each product as |product|}}
  <section data-id="{{product.id}}" class="product-log" >
<div class="card-deck">
    <div class="card" style="width:600px">
      <div class="card-body">
        <h6>Name:</h6>
        <p>
            {{product.name}}
        </p>
        <h7>Unit:</h7>
        <p>
            {{product.unit}}
        </p>
        <p>
        <h7>Quantity</h7>
            {{product.quantity}}
        </p>
        <form class="update-product" data-id="{{product.id}}">
            <input type="text" name="product[name]" placeholder="Name" required>
            <input type="text" name="product[unit]" placeholder="Unit" required>
            <input type="text" name="product[quantity]" placeholder="QTY" required>
            <!-- <input type="text" name="party[details]" placeholder="details" required> -->
            <button class="btn btn-primary"> update your logged product! </button>
          </form>
          <btn class= "btn btn-danger btn-sm delete-product" data-id="{{product.id}}"> delete </btn>
          <!-- <div class="emoji-toggle emoji-love">
          <input type="checkbox" id="toggle5" class="toggle">
          <div class="emoji"></div>
          <label for="toggle5" class="well"></label> -->
          </div>
      </div>
      </div>
    </div>
  </section>

{{/each}}
