{{#each product as |product|}}
  <section data-id="{{product.id}}" class="product-log" >
    <div class="card-deck">
        <div class="card" style="width:600px">
          <div class="card-body">
              <h6>Name:</h6>
                <p>
                  {{product.name}}
                </p>
                <h6>Details:</h6>
                <p>
                    {{product.unit}}
                    {{product.quantity}}
                  </p>
    <!-- <button data-id="{{flamingo._id}}" class="btn btn-danger rsvp-btn"> RSVP </button> -->
    <div class="emoji-toggle emoji-love">
    <input type="checkbox" id="toggle5" class="toggle">
    <div class="emoji"></div>
    <label for="toggle5" class="well"></label>
    </div>
  </div>
</div>
</div>
    </section>

  {{/each}}
